.stories {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
}

.storiesWrapper {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
}
.storiesWrapper::-webkit-scrollbar {
  height: 8px;
}

.storiesWrapper::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.storyWrapper {
  min-width: 120px;
}

.story {
  display: inline-block;
  position: relative;
  width: 25%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
}
.storyProfileImg,
.storyImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.createStory {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  font-weight: 500;
}

.addStoryButton {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  background-color: #5271ff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storyUsername {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: 500;
}

.storiesError,
.storiesLoading {
  margin-left: 10px;
  font-size: 16px;
  color: gray;
}
